<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <link type="image/png" href="https://www.wix.com/favicon.ico" rel="shortcut icon">
    <script src="https://${clientTopology.staticsDomain}/polyfill/v2/polyfill#if(!${debug}).min#{end}.js?features=default,es6,es7,es2017&flags=gated&unknown=polyfill&rum=0"></script>
    <script src="https://${clientTopology.staticsDomain}/unpkg/react@16.8.3/umd/react#if(!${debug}).production.min#{else}.development#{end}.js"></script>
    <script src="https://${clientTopology.staticsDomain}/unpkg/react-dom@16.8.3/umd/react-dom#if(!${debug}).production.min#{else}.development#{end}.js"></script>
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.93.0/js/wix.min.js"></script>
    <script>
      window.Wix.Utils.getViewMode = function(){return 'editor';};
    </script>
    ${newRelicEndUserHeader}
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.__BASEURL__ = '${basename}';
      window.__LOCALE__ = '${locale}';
      window.__STATICS_BASE_URL__ = '${clientTopology.staticsBaseUrl}';
    </script>
    <script src="${clientTopology.staticsBaseUrl}app.bundle#if(!${debug}).min#{end}.js"></script>
    ${newRelicEndUserFooter}
  </body>
</html>
